# Loops (For & While) & Condition Statement (If Else)

# 150 Question of Basic, Intermediate & Advance Loops & If Else Conditions

# 50 Basic Questions

### 1. Check even or odd
Input a number → print “Even” or “Odd”.

In [1]:
user_input = int(input("Enter the number"))

if user_input % 2 == 0:
    print(f"The number {user_input} is Even")
else:
    print(f"The number {user_input} is Odd")

Enter the number 10

The number 10 is Even

### 2. Find the biggest among 3 numbers
Use if-else.

In [9]:
num_1 = int(input("Enter the number 1"))
num_2 = int(input("Enter the number 2"))
num_3 = int(input("Enter the number 3"))

if num_1 == num_2 == num_3:
    print("Kindly enter the different numbers  should not be the same")
elif num_1 > num_2 and num_1 > num_3:
    print(f"The 1st number {num_1} is bigger")
elif num_2 > num_1 and num_2 > num_3:
    print(f"The 2nd number {num_2} is bigger")
else:
    print(f"The 3rd number {num_3} is bigger")

Enter the number 1 12
Enter the number 2 12
Enter the number 3 12

Kindly enter the different numbers not the same

### 3. Print numbers from 1 to 20
Using for loop.

In [10]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

### 4. Print numbers from 10 to 1
Using while loop.

In [16]:
i = 10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

### 5. Sum of first 10 natural numbers
Use for loop.

In [19]:
sum_of_nat_numbers = 0
for i in range(1,11):
    sum_of_nat_numbers += i
print("The sum of 1st 10 natural number is: ",sum_of_nat_numbers)

The sum of 1st 10 natural number is:  55

## 6. Print your name 5 times
Use a for loop.

In [20]:
name = "Ravi"
for i in range(5):
    print(name)

Ravi
Ravi
Ravi
Ravi
Ravi

## 7. Print numbers from 1 to 50
Use a while loop.

In [23]:
i = 0 
while i <= 50:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

## 8. Check whether a person is eligible to vote
Input age → if age ≥ 18 → print "Eligible".

In [25]:
age = int(input("Enter the age"))

if age >= 18:
    print("Eligible")
else:
    print("Not Eligible")

Enter the age 12

Not Eligible

## 9. Check if a number is positive, negative, or zero
Use if-elif-else.

In [28]:
number = int(input("Enter the number"))

if number > 0:
    print(f"The number {number} is positive")
elif number < 0:
    print(f"The number {number} is negative")
else:
    print("The number is zero")

Enter the number 0

The number is zero

## 10. Print the square of numbers from 1 to 10
Use a for loop.

In [32]:
for i in range(1,11):
    i *= i
    print(i)

1
4
9
16
25
36
49
64
81
100

## 11. Print the first 10 even numbers
Use a loop.

In [33]:
for i in range(1,11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

## 12. Print the first 10 odd numbers
Use a loop.

In [34]:
for i in range(1,11):
    if i % 2 != 0:
        print(i)

1
3
5
7
9

## 13. Calculate the total of a list
Example list: [2, 4, 6, 8]
Use a for loop.

In [39]:
numbers = [2,4,6,8]
total = 0
for num in numbers:
    total += num
print(total)

20

## 14. Count how many numbers are > 10 in a list
Use if + loop.

In [40]:
numbers = [23,2,34,2,34,22,3,21,3]
count = 0

for num in numbers:
    if num > 10:
        count += 1
print("The count of number greater than 10 is: ",count)

The count of number greater than 10 is:  5

## 15. Print characters of a string one by one
Example: "hello"
Use a for loop.

In [43]:
character = "Hello"

for c in character:
    print (c)

H
e
l
l
o

## 16. Ask the user for a number and print its double
Use simple input + if (optional).

In [48]:
for i in range(1):
    num = int(input("Enter the number: "))
    print("The double of the number ", num, " is ", num*2)

Enter the number:  2

The double of the number  2  is  4

## 17. Calculate the sum of numbers from 1 to N
N is user input
Use while loop.

In [53]:
N = int(input("Enter a number: "))
i = 1
total = 0

while i <= N:
    total += i
    i += 1
print("Sum of numbers from 1 to", N, "is:", total)

Enter a number:  5

Sum of numbers from 1 to 5 is: 15

## 18. Print numbers divisible by 5 from 1 to 100
Use for loop.

In [55]:
for i in range(1,101):
    if i % 5 == 0:
        print(i)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

## 19. Print the multiplication table of any number (user input)

In [64]:
number = int(input("Enter the number for the table"))
table = 0
for i in range(1,11):
    table = i * number
    print(i," x ",number, " = ",table)

Enter the number for the table 2

1  x  2  =  2
2  x  2  =  4
3  x  2  =  6
4  x  2  =  8
5  x  2  =  10
6  x  2  =  12
7  x  2  =  14
8  x  2  =  16
9  x  2  =  18
10  x  2  =  20

## 20. Convert temperature from Celsius to Fahrenheit
Formula: F = C × 9/5 + 32

In [66]:
for i in range(1):
    C = int(input("Enter the Celsius"))
    F = C * 9/5 + 32
    print("The Temperate in Fahrenheit is: ",F)

Enter the Celsius 34

The Temperate in Fahrenheit is:  93.2

## 21.Find the length of a string
Input a word and print how many characters it has using loop.

In [73]:
word = input("Enter the character")
count = 0

for i in word:
   count += 1
print(f"The length of the {word} is {count}")

Enter the character pyth

The length of the pyth is 4

## 22. Print all numbers from 1 to 100 that are divisible by 2 and 3
Use a for loop + if condition.

In [76]:
for i in range(1,101):
    if i % 2 == 0 and i % 3 == 0:
        print(i)

6
12
18
24
30
36
42
48
54
60
66
72
78
84
90
96

## 23. Convert minutes into seconds
User gives minutes → print seconds.

In [77]:
for i in range(1):
    minutes = int(input("Enter the minutes"))
    seconds = minutes * 60
    print("Minutes in Seconds:",seconds)

Enter the minutes 45

Minutes in Seconds: 2700

## 24. Print the sum of digits of a 2-digit number
Example: 47 → 4 + 7 = 11.

In [82]:
num = int(input("Enter the number"))
digit_sum = 0 
num_dup = num

while num > 0:
    digit = num % 10  # Extract the last digit
    digit_sum += digit
    num //= 10  # Removes the last digit
print("The sum of ",num_dup," is: ", digit_sum)

Enter the number 47

The sum of  47  is:  11

## 25.Print all numbers from 1 to N, but stop when the number reaches 10
Use a while loop.
Example: If N = 25 → it should print only 1 to 10.

In [86]:
n = int(input("Enter the number"))
i = 1
while i <= n:
    print(i)
    if i == 10:
        break
    i += 1

Enter the number 35

1
2
3
4
5
6
7
8
9
10

## 26.Print the cube of numbers from 1 to 5
Use a for loop.

In [89]:
cube = 0
for i in range(1,6):
    cube = i*i*i
    print(cube)

1
8
27
64
125

## 27.Find the youngest age among three people
Take three inputs and use if-else.

In [91]:
age_1 = int(input("Enter the age 1"))
age_2 = int(input("Enter the age 2"))
age_3 = int(input("Enter the age 3"))

if age_1 < age_2 and age_1 < age_3:
    print("Age 1 is youngest")
elif age_2 < age_1 and age_2 < age_3:
    print("Age 2 is youngest")
elif age_3 < age_1 and age_3 < age_2:
    print("Age 3 is youngest")
else:
    print("There is a tie in the youngest age")

Enter the age 1 12
Enter the age 2 12
Enter the age 3 34

There is a tie in the youngest age

## 28.Print all multiples of 4 from 1 to 40
Use a for loop.

In [92]:
for i in range(1,41):
    if i % 4 == 0:
        print(i)

4
8
12
16
20
24
28
32
36
40

## 29.Ask the user for two numbers and print which one is smaller
Use if-else.

In [93]:
num_1 = int(input("Enter the number 1"))
num_2 = int(input("Enter the number 2"))

if num_1 < num_2:
    print("Number 1 is smaller")
else:
    print("Number 2 is smaller")

Enter the number 1 12
Enter the number 2 1

Number 2 is smaller

## 30.Count how many times the letter “a” appears in a string
Use a loop + if.

In [96]:
word = input("Enter the word which contains multiple a")
count = 0

for char in word:
    if char == "a":
        count += 1
print(f"The count of a in {word} is {count}")

Enter the word which contains multiple a anacOda

The count of a in anacOda is 3

## 31.Print the first 5 natural numbers
Using a while loop.

In [2]:
i = 0

while i <= 5:
    print(i)
    i += 1

0
1
2
3
4
5

## 32.Take a number from the user and print whether it is divisible by 5
Use if-else.

In [4]:
user_input = int(input("Enter the number"))

if user_input % 5 == 0:
    print(f"The number {user_input} is divisible by 5")
else:
    print(f"The number {user_input} is not divisible by 5")

Enter the number 10

The number 10 is divisible by 5

## 33.Print all letters of your name in separate lines
Use a for loop.

In [5]:
name = input("Enter the name")

for n in name:
    print(n)

Enter the name Ravi

R
a
v
i

## 34.Count how many numbers are even in the list [1, 4, 7, 8, 10, 13]

In [8]:
number_list = [1, 4, 7, 8, 10, 13]
count = 0

for n in number_list:
    if n % 2 == 0:
        count += 1
print(f"The even number in {number_list} is {count}")

The even number in [1, 4, 7, 8, 10, 13] is 3

## 35.Print the squares of even numbers from 1 to 20

In [10]:
square_num = 0
for i in range(1,21):
    square_num = i * i
    print(square_num)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

## 36.Ask the user for a number and print “High” if it is > 50 else “Low”

In [13]:
user_input = int(input("Enter the number"))

if user_input > 50:
    print("High")
else:
    print("Low")

Enter the number 50

Low

## 37.Print numbers from 100 down to 90
Using a while loop.

In [16]:
i = 100
while i <= 100:
    print(i)
    i -= 1
    if i == 89:
        break

100
99
98
97
96
95
94
93
92
91
90

## 38.Check if the first letter of a string is a vowel

Use if.

In [17]:
text = input("Enter the text")
first_char = text[0].lower()

if first_char in ['a','e','i','o','u']:
    print("The first character is vowel")
else:
    print("The first character is not a vowel")

Enter the text Ramesh

The first character is not a vowel

## 39.Print only the characters that are NOT vowels in a word

In [19]:
text = input("Enter the text")

for i in text:
    if i not in ['a','e','i','o','u']:
        print(i)

Enter the text ravi

r
v

## 40.Take a number and print its last digit
Example: 273 → output: 3

In [25]:
num = int(input("Enter a number: "))
last_digit = num % 10
print("Last digit:", last_digit)

Enter a number:  2344

Last digit: 4

## 41.Print the sum of all numbers from 1 to 50

Use a for loop.

In [27]:
total = 0

for i in range(1,51):
    total += i
print("The sum of 1-50 is: ",total)

The sum of 1-50 is:  1275

## 42. Take a number from the user and print whether it is a single-digit or double-digit number

Use if-else.

In [33]:
user_input = int(input("Enter the number"))
user_input_str = str(user_input)

if len(user_input_str) == 1:
    print("The number is single-digit")
elif len(user_input_str) == 2:
    print("The number is double-digit")
else:
    print("The number is more than 2 digit")

Enter the number 2222

The number is more than 2 digit

## 43.Print the product (multiplication result) of numbers from 1 to 5

Use a while loop.

In [37]:
i = 1
product = 1

while True:
    if i <= 5:
        product = product * i
        i += 1
    else:
        break
print("The product of 1-5 is: ",product)

The product of 1-5 is:  120

## 44.Print only the uppercase letters in a given string

Use a for loop + if condition.

In [35]:
text = input("Enter the Character")

for char in text:
    if char.isupper():
        print(char, end=",")

Enter the Character textAGS

A,G,S,

## 45.Take two numbers and print their difference

(Just simple input and print)

In [38]:
num1 =  int(input("Enter the Number 1"))
num2 = int(input("Enter the Number 2"))
difference = num1 - num2
print("The Difference between the number 1 and number 2 is: ",difference)

Enter the Number 1 12
Enter the Number 2 2

The Difference between the number 1 and number 2 is:  10

## 46. Print the reverse of numbers from 20 to 10

Use a while loop.

In [39]:
i = 20 
while i >= 10:
    print(i)
    i -= 1

20
19
18
17
16
15
14
13
12
11
10

## 47. Count the number of spaces in a sentence

Use a for loop.

In [40]:
sentence = input("nter the Sentence")
space_count = 0

for s in sentence:
    if s == " ":
        space_count += 1
print("The space count in the sentence is: ",space_count)

nter the Sentence Data Base Manage Ment Sys tem

The space count in the sentence is:  5

## 48. Print the numbers from 1 to 30 but skip number 15

Use continue inside a loop.

In [44]:
for i in range(1,51):
    if i == 15:
        continue
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

## 49. Ask the user for 5 numbers and print the total

Use a loop + input

In [51]:
total = 0

for i in range(5):
    num = int(input("Enter the Number"))
    total += num
print("Total Numbers: ", total)

Enter the Number 23
Enter the Number 3
Enter the Number 4
Enter the Number 10
Enter the Number 10

Total Numbers:  50

## 50. Print every second character of a string

Example: "python" → p, t, o.

In [53]:
text = input("Enter the Character")

for i in range(len(text)):
    if i % 2 == 0:
        print(text[i], end=",")

Enter the Character database

d,t,b,s,

# 50 Intermediate Questions

## 1. Print all numbers from 1 to 100 that are divisible by 3 OR 5 but NOT both.

Use for loop + if, elif.

In [3]:
for i in range(1,101):
    if i % 3 == 0 and i % 5 == 0:
        continue
    elif i % 3 == 0 or i % 5 == 0:
        print(i)

3
5
6
9
10
12
18
20
21
24
25
27
33
35
36
39
40
42
48
50
51
54
55
57
63
65
66
69
70
72
78
80
81
84
85
87
93
95
96
99
100

## 2. Count how many numbers in a list are positive, negative, and zero.

Example list: [4, -1, 0, 9, -5, 0]
Use loop + if-elif-else.

In [7]:
numbers = [4, -1, 0, 9, -5, 0]
positive_count = 0
negative_count = 0
zero_count = 0

for n in numbers:
    if n > 0:
        positive_count += 1
    elif n < 0:
        negative_count += 1
    else:
        zero_count += 1
print("The positive number count is: ",positive_count)
print("The negative number count is: ",negative_count)
print("The zero's count is: ",zero_count)

The positive number count is:  2
The negative number count is:  2
The zero's count is:  2

## 3. Print all prime numbers between 1 and N (N is user input).

Use nested loops + if to check prime.

In [10]:
N = int(input("Enter the number"))

for num in range(2, N+1):
    is_prime = True

    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num, end=",")

Enter the number 10

2,3,5,7,

## 4.Read numbers until the user enters a negative number, then print the sum of all positive numbers.

Use a while loop + if-else.

In [14]:
total = 0

while True:
    num = int(input("Enter the number"))
    if num >= 0:
        total += num
    else:
        break
print("The sum of positive number: ",total)

Enter the number 12
Enter the number 12
Enter the number -1

The sum of positive number:  24

## 5. Print all numbers between 1 and 200 that are:

divisible by 4,

not divisible by 6,

and end with the digit 8

(Use a for loop + if-else conditions)

In [15]:
for num in range(1,201):
    if num % 4 == 0 and num % 6 != 0 and num % 10 == 8:
        print(num)

8
28
68
88
128
148
188

## 6. Count how many words in a sentence have more than 5 letters.

Use a loop to iterate through each word and if condition to check the length.

Example:
Input: "Python is an amazing programming language"
Output: 2 (amazing, programming)

In [20]:
sentence = "Python is an amazing Programming Language"
words = sentence.split()

for char in words:
    if len(char) > 5:
        print(char)

Python
amazing
Programming
Language

## 8. Print all numbers from 1 to 300 that are perfect squares.

(Example: 1, 4, 9, 16, 25 …)

In [3]:
import math # Importing math fuction

for num in range(1,301):
    root = int(math.sqrt(num))
    if root * root == num:
        print(num, end=",")

1,4,9,16,25,36,49,64,81,100,121,144,169,196,225,256,289,

## 9. Take a sentence and print only the words that start and end with the same letter.

Example: "madam level test apple" → Output: madam level

In [6]:
sentence = input("Enter the Sentence")
word = sentence.split()

for wrd in word:
    if wrd[0] == wrd[-1]:
        print(wrd, end=" ")

Enter the Sentence madam level test apple

madam level test

## 10.Count how many elements in a list are greater than the average of the list.

Use loop + sum + if condition.

In [8]:
num = [10,20,30,40,50,60,70,80,90,100]
avg = sum(num) / len(num)
count = 0

for n in num:
    if n > avg:
        count += 1
print("Average: ",avg)
print("The Count of the greater number: ",count)

Average:  55.0
The Count of the greater number:  5

## 11.# Method 1: Using string multiplication

In [10]:
for i in range(1,6):
    print("5" * i)

5
55
555
5555
55555

## 12.Ask the user for 10 numbers and print the highest and lowest entered numbers.

In [12]:
highest = None
lowest = None

for i in range(10):
    num = int(input("Enter the number"))
    if highest is None or num > highest:
        highest = num
    elif lowest is None or num < lowest:
        lowest = num 
print(f"The Highest Number: {highest}")
print(f"The Lowest Number: {lowest}")

Enter the number 12
Enter the number 4343
Enter the number 23
Enter the number 2434
Enter the number 23432
Enter the number 23
Enter the number 21
Enter the number 34
Enter the number 2
Enter the number 23

The Highest Number: 23432
The Lowest Number: 2

## 13.Print numbers from 1 to 500 that are divisible by 7 and also contain the digit 7.

In [13]:
for i in range(1,501):
    if i % 7 == 0 and '7' in str(i):
        print(i)

7
70
77
147
175
217
273
287
357
371
378
427
476
497

##